*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-x: hidden !important;
    overflow-y: hidden !important;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #080800;
    font-family: "Poppins", Arial, sans-serif;
    color: #fff;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/background.png);
    background-size: cover;
    background-position: center;

    /* background-repeat: no-repeat; */
} 


.container{
    padding: 10px 10%;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    position: fixed;
    top: 0;
    margin: auto;
    left: 0px;
    right: 0px;
    background-color:transparent rgb(13, 18, 22);
    padding: 5px 20px;
    z-index: 999;
    opacity: 1;
}

.logo{
    width: 120px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background:#ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
}
.header-text .subheading{
    color: #080800;
    font-size: 14px;
    font-weight: 600;
    color: #ffbf39;
    letter-spacing: 3px;
    text-transform: uppercase;
}
.header-text h1{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.header-text h1 span{
    color: #ffbd39;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.2px;
    font-weight: 800;
    font-size: 60px;
}
#typing-animation{
    font-size: 30px;
    font-weight: 700;
}
.IT{
    margin-top: 50px;
    margin-bottom: 15px;

}
.btn.btn3{
    margin: 0px;
    cursor: pointer;
    display: inline-block;
    background: #ffbd39;
    border-radius: 50px;
    border: 1px solid #ffbd39;
    color: #080800;
    padding: 14px 16px;
}
.btn.btn4{
    margin: 0;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    border-radius: 50px;
    border: 1px solid gray;
    padding: 14px 25px;    
}
.btn.btn5{
    margin: -30px 0px 0px 0px;
    cursor: pointer;
    display: inline-block;
    background: transparent;
    border-radius: 50%;
    border: 1px solid gray;
    padding: 14px 14px;    
    position: absolute;
    right: 10px;
   background-image: linear-gradient(to right, blue, orange);
    
}

.btn.bnt5:hover{
    background-image: linear-gradient(to right, blue, orange) !important;
}
/* ----------------scrooling------------------------------- */
.scrollFunction{
    margin-top: 200px;
    font-size: 18px;
    font-style: italic;
    font-family: cursive;
    color: #e0ff31;
    padding: unset !important;

}

/* ------------------------about------------------------ */
#about{
    padding: 120px 0;
    color: #ababab;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}
.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}
.tab-titles{
    display: flex;
    margin: 30px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 20px;
    font-weight: 500;
    color: #5feef8;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 2px;
    background: #e7e987;
    position:absolute;
    left: 0;
    bottom: -8px;
    transform: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}
.tab-contents ul{
    border-radius: 10px;
    box-shadow: 0px 0px 500px -10px rgb(166, 206, 224);
    padding:  15px;
    background-image: linear-gradient(45deg,transparent,rgb(58, 76, 90), rgb(81, 111, 124) );

}
.tab-contents ul li{
    list-style:circle;
    margin: 12px;
    color: #fff;
    font-size: 14px;
    letter-spacing: 1px;
    
}
.tab-contents ul li span{
    color: #0c92ff;
    margin: 0;
    font-size: 16px;
    letter-spacing: 1px;
    text-transform: capitalize;
    line-height: 1.5;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block ;
}

/* ------------------------services-------------------- */
#services{
    padding: 30px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    transition: background 0.5s, transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #48a0e7;
    transform: translate(-10px);
}

/* -------------------portfolio------------------- */
#portfolio{
    padding:50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 70px;
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}
.work-list img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
    
}

.layer{
    width: 100%;
    height: 0%;
    background: linear-gradient(rgba(0,0,0,0.6), #ff004f);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    transition: height 0.5s;
    opacity: 0;
}
.layer:hover{
    opacity: 1;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}
.layer a{
    margin-top: 20px;
    color: #ff004f;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.btn{
    cursor: pointer;
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 50px;
    text-decoration: none;
    color: #fff;
    transition: backgroung;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 50;
    font-size: 13px;
}
.btn:hover{
    background: #ff004f;
}

.scroll-top{
    position: fixed;
    bottom: 80px;
    right: 10px;
    
}


/* -----------------------contact----------------- */
.contact-left{
    flex-basis: 35%;
}
.contact-right{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #ff004f;
    margin-right: 15px;
    font-size: 25px;
}
.social-icons{
    
    position: fixed;
    right: 10px;
    bottom: 80px;
    display: flex;
    flex-direction: column !important;

}
.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}
.btn.btn2{
    display: inline-block;
    background: #ff004f;
    
}
.btn.btn2:hover{
    background-color: #31363d;
}
.contact-right from{
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 12px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 8px;
}
form btn2{
    padding: 14px 40px;
    font-size: 18px;
    margin-top: 100px;
    cursor: pointer;
}
.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}
.copyright i{
    color: #ff004f;
}
/* -----------------css for small screen------------ */
nav .fas{
    display: none;
}

@media only screen and (max-width: 600px) {
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text{
        margin-top: 140%;
        font-size: 16px;
    }
    .header-text .subheading{
        font-size: 10px;
        font-weight: 600;
    }
    .header-text h1 span{
        font-weight: 800;
        font-size: 30px;
    }
    #typing-animation{
        font-size: 20px;
        font-weight: 700;
    }
    .IT{
        margin-top: 18px;
        margin-bottom: 11px;
    }
    .btn.btn3{
        margin: 0px;
        font-weight: 200;
        font-size: 10px;
        cursor: pointer;
        display: inline-block;
        background: #ffbd39;
        border-radius: 50px;
        border: 1px solid #ffbd39;
        color: #080800;
        padding: 10px 10px;
    }
    .btn.btn4{
        margin: 0;
        font-size: 10px;
        cursor: pointer;
        display: inline-block;
        background: transparent;
        border-radius: 50px;
        border: 1px solid rgb(237, 241, 168);
        padding: 10px 14px;    
    }
    .header-text h1{
        font-size: 30px;
    }
    
    nav .fas{
        display: block;
        font-size: 25px;
    }
    nav ul{
        background: #88d3f7;
        position: fixed;
        top: 0;
        right: -200px;
        width: 200px;
        height: 100vh;
        padding-top: 50px;
        z-index: 2;
        transition: right 0.5s;
    }
    nav ul li{
        display: block;
        margin: 25px;
    }
    nav ul .fas{
        position: absolute;
        top: 25px;
        left: 25px;
        cursor: pointer;
    }
    .sub-title{
        font-size: 40px;
    }
    .about-col-1, .about-col-2{
        flex-basis: 100%;
    }
    .about-col-1{
        margin-bottom: 30px;
    }
    .about-col-2{
        font-size: 14px;
    }
    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }
    .contact-left, .contact-right{
        flex-basis: 100%;
    }
    .copyright{
        padding: 13px;
        font-size: 12px;
    }
    .btn.btn5{
        display: none;
    }

    .social-icons{
        cursor: pointer;
        position: bottom;
        right: 5px;
        bottom: 30px;
        display: flex;
        flex-direction: column !important;
    }
    .social-icons a{
        cursor: pointer;
        text-decoration: none;
        font-size: 20px;
        margin-bottom: 8px;
        margin-right: 5px;
        color: #ababab;
        display: inline-block;
        transition: transform 0.5s;
    }
    .scrollFunction{
        margin-top: 25px !important;
        font-size: 12px;
        font-style: italic;
        font-family: cursive;
        color: #e0ff31;
        
    }
    
}
#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}