
    <!-- ABOUT -->
    <section   class="about" id="about">

        <div class="section-heading">

            <span>About Me</span>

            <h2>
                Crafting Beautiful Digital Experiences
            </h2>

        </div>

        <div class="about-wrapper">

            <div class="about-left" data-aos="fade-right">

                <div class="glass-card">

                    <h3>Who Am I?</h3>

                    <p>
                        I'm a passionate UI Developer and React Native Developer
                        focused on creating modern responsive websites,
                        mobile apps and animated interfaces.
                    </p>

                </div>

            </div>

            <div class="about-right" data-aos="fade-left">

                <div class="skill-box">
                    <span>React</span>
                </div>

                <div class="skill-box">
                    <span>React Native</span>
                </div>

                <div class="skill-box">
                    <span>Python</span>
                </div>

                <div class="skill-box">
                    <span>Django</span>
                </div>

                <div class="skill-box">
                    <span>Linux</span>
                </div>

                <div class="skill-box">
                    <span>UI/UX</span>
                </div>

            </div>

        </div>

    </section>