    <!-- CONTACT -->
    <section   class="contact" id="contact">

        <!-- BLUR -->
        <div class="contact-blur blur-contact"></div>

        <div class="section-heading">

            <span>Get In Touch</span>

            <h2>
                Let's Work Together
            </h2>

        </div>

        <div class="contact-container">

            <!-- LEFT -->
            <div class="contact-left" data-aos="fade-right">

                <div class="contact-card">

                    <div class="contact-icon">
                        <i class="fas fa-envelope"></i>
                    </div>

                    <div>
                        <h3>Email</h3>
                        <p>sudarsan2165@gmail.com</p>
                    </div>

                </div>

                <div class="contact-card">

                    <div class="contact-icon">
                        <i class="fas fa-phone"></i>
                    </div>

                    <div>
                        <h3>Phone</h3>
                        <p>+91 8464002165</p>
                    </div>

                </div>

                <div class="contact-card">

                    <div class="contact-icon">
                        <i class="fas fa-location-dot"></i>
                    </div>

                    <div>
                        <h3>Location</h3>
                        <p>Hyderabad, India</p>
                    </div>

                </div>

                <!-- SOCIAL -->
                <div class="contact-social">

                    <a href="#">
                        <i class="fab fa-github"></i>
                    </a>

                    <a href="#">
                        <i class="fab fa-linkedin"></i>
                    </a>

                    <a href="#">
                        <i class="fab fa-youtube"></i>
                    </a>

                    <a href="#">
                        <i class="fab fa-instagram"></i>
                    </a>

                </div>

            </div>

            <!-- RIGHT -->
            <div class="contact-right" data-aos="fade-left">

                <form class="contact-form">

                    <div class="input-box">

                        <input type="text" required>

                        <label>Full Name</label>

                    </div>

                    <div class="input-box">

                        <input type="email" required>

                        <label>Email Address</label>

                    </div>

                    <div class="input-box">

                        <textarea required></textarea>

                        <label>Your Message</label>

                    </div>

                    <button type="submit" class="send-btn">

                        Send Message

                    </button>

                </form>

            </div>

        </div>

    </section>