<nav  class="navbar">

  <a href="index.html" class="logo-wrap">

    <img
      src="assets/images/logo/logo.png"
      class="logo"
      alt="logo">

  </a>

  <!-- MENU BUTTON -->
  <div class="menu-btn" id="openMenu">

    <i class="fas fa-bars"></i>

  </div>

  <!-- NAV LINKS -->
  <ul class="nav-links" id="sidemenu">

    <div class="close-btn">

      <i class="fas fa-times"
        id="closeMenu">
      </i>

    </div>

    <!-- FIXED LINKS -->

    <li>
      <a href="index.html#home">
        Home
      </a>
    </li>

    <li>
      <a href="index.html#about">
        About
      </a>
    </li>

    <li>
      <a href="index.html#skills">
        Skills
      </a>
    </li>

    <li>
      <a href="index.html#services">
        Services
      </a>
    </li>

    <li>
      <a href="index.html#projects">
        Projects
      </a>
    </li>

    <li>
      <a href="videos.html">
        Videos
      </a>
    </li>

    <li>
      <a href="index.html#contact">
        Contact
      </a>
    </li>

    <li>

      <a
        href="assets/documents/resume.pdf"
        class="resume-btn"
        target="_blank">

        Resume

      </a>

    </li>

  </ul>

</nav>