    <!-- PROJECTS -->
    <section   class="projects" id="projects">

        <div class="section-heading">

            <span>My Projects</span>

            <h2>
                Featured Work
            </h2>

        </div>

        <div class="projects-container">

            <!-- PROJECT -->
            <div class="project-card" data-aos="zoom-in">

                <img src="assets/images/projects/project-1.jpg" alt="">

                <div class="project-overlay">

                    <span>React Website</span>

                    <h3>
                        Portfolio Website
                    </h3>

                    <p>
                        Modern animated portfolio website using HTML,
                        CSS and JavaScript.
                    </p>

                    <a href="#">
                        <i class="fas fa-arrow-right"></i>
                    </a>

                </div>

            </div>

            <!-- PROJECT -->
            <div class="project-card" data-aos="zoom-in" data-aos-delay="100">

                <img src="assets/images/projects/project-2.jpg" alt="">

                <div class="project-overlay">

                    <span>React Native</span>

                    <h3>
                        Mobile App
                    </h3>

                    <p>
                        Cross platform React Native application
                        with modern animations.
                    </p>

                    <a href="#">
                        <i class="fas fa-arrow-right"></i>
                    </a>

                </div>

            </div>

            <!-- PROJECT -->
            <div class="project-card" data-aos="zoom-in" data-aos-delay="200">

                <img src="assets/images/projects/project-3.jpg" alt="">

                <div class="project-overlay">

                    <span>UI Design</span>

                    <h3>
                        Dashboard Design
                    </h3>

                    <p>
                        Premium admin dashboard with modern UI and
                        responsive layout.
                    </p>

                    <a href="#">
                        <i class="fas fa-arrow-right"></i>
                    </a>

                </div>

            </div>

        </div>

    </section>