    <!-- SKILLS -->
    <section class="skills" id="skills">

        <div class="section-heading">

            <span>Technical Skills</span>

            <h2>
                Technologies I Work With
            </h2>

        </div>

        <div class="skills-container">

            <!-- CARD -->
            <div class="skill-card">

                <h3>
                    Operating Systems
                </h3>

                <div class="skill-tags">

                    <span>Red Hat Linux</span>
                    <span>Windows</span>

                </div>

            </div>

            <!-- CARD -->
            <div class="skill-card">

                <h3>
                    Network Services
                </h3>

                <div class="skill-tags">

                    <span>NFS</span>
                    <span>FTP</span>
                    <span>SSH</span>

                </div>

            </div>

            <!-- CARD -->
            <div class="skill-card">

                <h3>
                    Frontend & UI
                </h3>

                <div class="skill-tags">

                    <span>HTML</span>
                    <span>CSS</span>
                    <span>Bootstrap</span>
                    <span>React</span>
                    <span>React Native</span>
                    <span>UI/UX</span>

                </div>

            </div>

            <!-- CARD -->
            <div class="skill-card">

                <h3>
                    Backend & Tools
                </h3>

                <div class="skill-tags">

                    <span>Python</span>
                    <span>Django</span>
                    <span>MySQL</span>
                    <span>GitHub</span>

                </div>

            </div>

            <!-- CARD -->
            <div class="skill-card">

                <h3>
                    Cloud & Virtualization
                </h3>

                <div class="skill-tags">

                    <span>AWS</span>
                    <span>VMware</span>

                </div>

            </div>

            <!-- CARD -->
            <div class="skill-card">

                <h3>
                    Development Tools
                </h3>

                <div class="skill-tags">

                    <span>VS Code</span>
                    <span>PuTTY</span>
                    <span>MobaXterm</span>

                </div>

            </div>

        </div>

    </section>